<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="datepicker-container">
        model value: {{ date }}
      </div>
    </div>
    <div class="column is-6 is-offset-3">
      <div class="datepicker-container">
        <form [formGroup]="form">
          <ng-datepicker formControlName="date" [options]="options"></ng-datepicker>
          <button (click)="onReset()">Reset form</button>
        </form>
      </div>
    </div>
  </div>
</div>
